---
---


// Headers
$header-heading-color: #fff !default;
$header-bg-color: #A47864 !default;
$header-bg-color-secondary: #A47864 !default;

// Text
$section-headings-color: #A47864 !default;
$body-text-color: #000000 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #A89A8E !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #000000 !default;

// Borders
$border-color: #A89A8E !default;
$table-border-color: #A89A8E !default;
$hr-border-color: #A89A8E !default;

@import "{{ site.theme }}";

/* COLOR PALETTE
3 MAIN Colors
Green #8CA571
Blue #7391C8
Brown ##A47864

Extra
White #F1E8DF
Violett #A692BA
Grey #A89A8E
Willow #9A8B4F
Rose #D19C97
*/
.page-header {
    color: #fff;
    text-align: center;
    background-color: #7391C8;
    background-image: linear-gradient(120deg, #7391C8, #7391C8)
}

body {
  background-color: #F1E8DF;
}
